body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0b2b5a;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}